body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#tabMenu{
  background-color: gray;
  width: 70%;
  height: 600px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5% 15%;
}

#nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50px;
  width: 100%;
}

#tab1,#tab2,#tab3{
  background-color: blue;
  color: white;
  font-size:18px;
  height: 100%;
  width: 100%;
}

.tab:hover{
  cursor: pointer;
  background-color: green;
  font-size: 20px;
}
